#############################################################################
## Copy this file to a terraform.tfvars in this directory and set the values
#############################################################################

aws_access_key          = "CHANGE_ME"
aws_region              = "CHANGE_ME"
aws_secret_key          = "CHANGE_ME"
shared_app_name         = "expatmagic"
secret_map = {
  "CODECOV_TOKEN": "CHANGE_ME"
}
